@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  min-height: 100vh;
  min-height: 100svh;
  background: linear-gradient(180deg, var(--color-background) 0%, var(--color-background-light) 100%);
}
#app {
  font-weight: normal;
  min-height: 100vh;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
}

form {
  font-size: var(--font-size-normal);
}
form label {
  font-size: var(--font-size-large);
}
form input, form textarea {
  background-color: var(--color-background-lighter);
  padding: var(--gap-normal);
  border-radius: var(--border-radius-normal);
  color: var(--color-foreground-dark);
  border: 1px solid transparent;
}
form input.error, form textarea.error {
  border: 1px solid var(--color-error-red);
}

button:disabled {
  background: #999999 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

/* ================================ */
/* CSS FOR CHECKBOX SLIDERS - START */
/* ================================ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > input:checked + .slider {
  background-color: var(--color-primary);
}

.switch > input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

.switch > input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.switch > .slider.round {
  border-radius: 30px;
}

.switch > .slider.round:before {
  border-radius: 50%;
}

/* ================================ */
/*  CSS FOR CHECKBOX SLIDERS - END  */
/* ================================ */
