@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  min-height: 100vh;
  background: linear-gradient(180deg, var(--color-background) 0%, var(--color-background-light) 100%);
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#app > *:last-child {
  flex: 1;
}
